---
import Sidebar from "../components/Sidebar.astro";
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="fondo flex flex-col md:flex-row">
			<header>
				<div id="sidebar">
					<Sidebar />
				</div>

				<nav class="" id="navbar" aria-label="Top">
					<div class="">
						<a href="/">
							<img src="nashe.png" width="150px" />
						</a>
					</div>
					<div class="">
						<a href="/" class="">sobre mirko</a>
						<a href="/about" class="">about</a>
					</div>
				</nav>
			</header>
			<div class="fondo-imagen">
				<slot />
			</div>
		</div>
	</body>
</html>

<style>
	LOGO {
	}
	.fondo-imagen {
		width: 100%; /* ancho de la imagen */
		height: 100dvh;  /* altura de la imagen */
		background-image: url("/eldiablo.png");
		background-size: cover;
	}
	body {
		height: 100dvh;
	}
	.fondo {
		display: flex;/* ayuda a colocar las cajas como si fueran
		 celdas de tablas, con un comportamiento predecible y adaptable. */
	}
	#navbar {
		display: flex;
		justify-content: space-between;/* define cómo el navegador distribuye el espacio entre
		y alrededor de los items flex, a lo largo del eje principal de su contenedor */
		padding: 20px;
	}
	#sidebar {
		display: none;
	}
	@media (min-width: 768px) {
		#sidebar {
			display: block;
		}
		#navbar {
			display: none;
		}
	}
</style>
